<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795131036897-qttc4bjuja751h6h7l70nue8m1ao313q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795131036897-qttc4bjuja751h6h7l70nue8m1ao313q</string>
	<key>API_KEY</key>
	<string>AIzaSyDt6GiaI9-6-E-T2l4I1KcutZEzKhrytII</string>
	<key>GCM_SENDER_ID</key>
	<string>795131036897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zozoshop</string>
	<key>PROJECT_ID</key>
	<string>gizozo00</string>
	<key>STORAGE_BUCKET</key>
	<string>gizozo00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795131036897:ios:ad88e3c00e1c851702e3a0</string>
</dict>
</plist>